*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; 
}

.row {
  margin-left: 0;
  margin-right: 0;
}

body{
  color: #7B665F;
}

/* tIPOGRAFIA*/

@font-face {
    font-family: 'ThirstyRoughRegTwo';
    src: url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.eot');
    src: url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.woff') format('woff'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.ttf') format('truetype'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.svg#thirsty_roughregular_two') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'housebrokenclean-webfont';
    src: url('../fonts/housebrokenclean-webfont.eot');
    src: url('../fonts/housebrokenclean-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/housebrokenclean-webfont.woff2') format('woff2'),
         url('../fonts/housebrokenclean-webfont.woff') format('woff'),
         url('../fonts/housebrokenclean-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*UTILITIES*/

.text-right {
  text-align: right;
}
.margin-left-10 {
  margin-left: 10px;
}
.pdd_btt_5{
  padding-bottom: 5%;
}
.pdd_btt_3 {
  padding-bottom: 3%;
}
.pdd_top_3 {
  padding-top: 3%;
}
.marg_top_3{
  margin-top: 3%;
}
.marg_none {
  margin: 0px !important;
}
.paddg-left_paddg-right_10 {
  padding-left: 10%;
  padding-right: 10%;
}
.paddg-botton-5 {
  padding-bottom: 5%;
}
.titulo {
  color: #E8D8BF;
  font-family: 'ThirstyRoughRegTwo';
  font-size: 50px;
  padding-top: 4%;
}
.subtitulo {
  font-family: 'housebrokenclean-webfont';
  font-size: 25px;
  letter-spacing: 2px;
}
.line {
  border-bottom: 2px solid black;
  margin: 6%;
  padding-bottom: 2%;
}

/* FONDO */
.bg {
  background-image: url("../img/slide1.jpg");
  width: 100%;
  height: 100%;
  display: relative;
  background-attachment: fixed;
  background-size: cover;
  display: table;
  &-overlay{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,.5);
  }
}

/* Social Media*/

.container-menu {
  position: absolute;
  right: 3em;
  top: -7px;
  z-index: 10000000;
  .menu {
    text-align: center;
    nav, a {
      text-decoration: none;
      padding: 0 5px;
    }
    .SocialMedia {
      text-align: right;
      & i {
      background-color: white;
      color: black;
      width: 35px;
      text-align: center;
      padding: 10px;
      border-radius: 50%;
      margin-top: 20px;
       &:hover {
        opacity: 0.8;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.7s;
        }
      }
    }
  }
}
.frase {
  padding-top: 55px;
  margin-right: 76px; 
  h4 {
    color: #C1A98C;
    font-family: 'ThirstyRoughRegTwo';
    font-size: 20px;
    padding-top: 6px;
    margin: 0px;
    top: 0px;
    text-align: right; 
  }
}

.logo-menu{
  display: inline-block;
    position: absolute;
      img{
        padding: 32px;
        margin-top: -45px;
      }
      .logo-hidden{
        visibility: hidden;
      }
}
/* MENU - FIXED*/
.navegacion {
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 10000000000;
    .logo-hidden{
      visibility: visible;
    }
}

/*NAVBAR - MENU*/

.menubar {
  border-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding-top: 16px;
  ul {
    width: auto;
    margin: 0 20%;
    padding: 0;
    list-style: none;
    display: table;
    float: left;
    li {
      float: none;
      display: inline-block;
      font-family: 'veneer_tworegular';
      font-size: 23px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      margin: 0 .8em;
      a{
        color: white !important;
        font-family: 'housebrokenclean-webfont';
      }
    }
  }
}

.menubar-responsive{
  display: none;
}
#top-menu li.active a {
  border-bottom: 3px solid white;
}
.menu{
  text-align: center;
}
#top-menu a {
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  text-decoration: none;
}
/*  FIN DE NAVBAR - MENU*/

.banner{
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  h5 {
    color: white;
    font: 400 45px / 56px ThirstyRoughRegTwo;
    font-family:'housebrokenclean-webfont';
    line-height: 1;
    span{
      font-size: 35px;
      display: block;
    }
  }
}

/* Text Right */

.text-number-white {
  font: 400 60.2px / 36px VeneerTwo;
  margin-top: 5px;
  font-family: 'housebrokenclean-webfont';
}
.text-right-white-small {
  color: #ffffff;
  font: 400 20.2px / 36px VeneerTwo;
  font-family: 'ThirstyRoughRegTwo';
  text-decoration: underline;
  margin-top: 0px;
}

/* text center*/

.top {
  text-align: center;
  margin-top: 50px;
}

/*suscibete */

.email {
  height:  36px;
  text-align: center;
  font-size: 16px;
  font-family: 'ThirstyRoughRegTwo';
}
.button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0 0 0 -43px;
  width: 30px;
  line-height: 33px;
  cursor: pointer;
}
.fa-arrow-right {
  font-size: 10px;
  background-color: #7B665F;
  border-radius: 50%;
  padding: 6px;
  color: white;
}
#mc_embed_signup {
  width: 47%;
  margin-top: 7%;
  float: left;
}

input {
  width: 65%;
}

input.email {
  -webkit-text-fill-color: #7B665F;
  padding-right: 45px;
  padding-left: 10px;
  background-color: #E8D8BF;
  font-size: 15px !important;
  border: none;
}

/*text left */

.text-top {
  color: white;
  position: absolute;
  margin-top: -1.6em;
  font-size: 35px;
  font-family: 'ThirstyRoughRegTwo';
  font-weight: 100;
}

/* FECHAS */

.fechas {
  width: 100%;
  display: block;
  margin-top: 1em;
  color: white;
}
.fechas__content {
  width: 46%;
  float: left;
  padding:0 1em;
}
.fecha_one {
  text-align: right;
}
.fecha_two {
  text-align: left;
}
.fechas__content div{
  display: inline-block;
}
 
/* SVG Logo */

.img-svg {
 display: none;
}

html.svg {
 .img-no-svg {
    display: none;
 }
 
 .img-svg {
    display: block;
 }
}

/*  BACKGROUND SECTIONS */
.bg_section {
  text-align: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

/* section bg menu */

.section_menu{
  background-color: #E8D8BF;
  text-align: center;
  color: #7B665F;
}
.menu_bg{
  background-image: url(../img/slide4.jpg);
}

.content_menu{
  color:#E8D8BF;
  font-size: 25px;
  margin: 15px 20%;
  font-weight: bold;
}
.custon-salads{
  font-family: 'housebrokenclean-webfont';
  font-size: 50px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding-top: 1%;
  margin-bottom: 4%;
}
.espacio {
  padding-top: 5%;
}
.story_bg{
  background-image: url(../img/slide1.jpg);
}
.vision {
  background-color: #E8D8BF;
}
.subt_story{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  font-family: 'housebrokenclean-webfont';
  padding-top: 2%;
}
.section_story{
  text-align: center;
}
.story_reco{
  background-color: #DCC6A0;
}
.logo{
  padding-top: 3%;
  padding-bottom: 3%;
}
.text_story {
  font-size: 25px;
  font-weight: 600;
  margin: 0 13%;
}
.text2_story{
  padding-top: 2%;
  font-size: 20px;
  display: inline-block;
}
.nokid{
  display: inline-block;
  font-family: 'ThirstyRoughRegTwo';
}
.banner_logo{
  background-color: #E8D8BF;
  padding-top: 3%;
}
.footer{
  background-image: url(../img/bg_footer.png);
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  background-position: center center;
}
.banner_text{
  font-family: 'ThirstyRoughRegTwo';
  font-size: 25px;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
}
.banner_text_2 {
  font-family: 'ThirstyRoughRegTwo';
  font-size: 35px;
  display: inline-block;
}
.banner_home {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 2%;
  float: right; 
  img{
        width: 69%;
  }
}

/* section nutrition */
.nutrition_bg{
  background-image: url(../img/slide3.jpg);
}
.section_nutrition {
  background-color: #E8D8BF;
  text-align: center;
}

/* section contact */
.contact_bg{
  background-image: url(../img/slide8.jpg);
}
.section_contact{
  background-color: #E8D8BF;
  text-align: center;
}

.cuadrado{
  border: 1px solid;
  width: 30%;
  margin: 0 auto;
  margin-top: 3%;
  padding: 3%;
  margin-bottom: 3%;
}
.text_email{
  font-family: 'ThirstyRoughRegTwo';
  font-size: 25px;
}
.story_footer{
  img{
   padding-bottom: 2%; 
  }
  
}

@media screen and (max-width: 1050px) and (min-width: 300px){
  .text-number-white{
    font-size: 44px;
  }
  .story_footer,.banner_home, .banner_logo {
    img {
      width: 100%;
    }
  }
}

/*  RESPONSIVE MENU */

@media screen and (max-width: 990px) {

  .menubar-responsive{
    display: block;
  }
  .menubar{
    display: none;
  }

  #modal {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    z-index: 1;
  }
  #modal ul {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    list-style: none;
    padding: 0px;
  }

  #modal ul li a{
    display: block;
    padding: 2% 0;
    font-family: 'housebrokenclean-webfont';
    color: #fff;
  }

  #mostrar-modal {
    display: none;
  }
   #mostrar-modal + label {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    margin: 0;
    color: #fff;
    padding: 1em 1em;
    text-transform: uppercase;
    cursor: pointer;
  }
  #mostrar-modal + label:hover {
    
  }
  #mostrar-modal:checked ~ #modal {
    top: 0;
    z-index: 9999999;
  }
  #mostrar-modal:checked {
    display: none;
  }
  #mostrar-modal:checked ~ #cerrar-modal + label {
    display: block;
  }

  #cerrar-modal {
    display: none;
  }
  #cerrar-modal + label {
    position: fixed;
    top: 1em;

    left: 1em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    display: none;
    transition: all .5s;
    z-index: 999999999999;
  }
  #cerrar-modal:checked ~ #modal {
    top: -100vh;
  }
  #cerrar-modal:checked + label {
    /*display: none;*/
  }
}
@media screen and (max-width: 1336px) and (min-width: 991px){
    .menubar{
      ul{
        margin: 0 5%;
      }
    }
    .menubar ul li {
      margin: 0 0.4em;
    }
 }

.section_contact{
  .socialMedia{
    i{
      background-color: #857266;
      color: #E8D8BF;
      width: 45px;
      text-align: center;
      padding: 9px;
      border-radius: 50%;
      margin-top: 20px;
      font-size: 25px;
      margin: 3px;
      }
    
  }
}

.redes-footer{
  font-family: 'ThirstyRoughRegTwo';
  padding: 2%;
}
.fontzise-18 {
  font-size: 18px;
}
.frase-banner {
      display: inline-block;
    color: #E8D8BF;
    font-size: 15px !important;
    font-family: 'ThirstyRoughRegTwo';
    margin-top: 8%;
    margin-right: 13%;
    margin-left: -10%;
}
.frase-banner_2 {
    position: absolute;
    margin-top: 7%;
    color: #E8D8BF;
    font-size: 15px !important;
    font-family: 'ThirstyRoughRegTwo';
    margin-left: 12%;
}
